.menu {
    padding: 3%;
}

.menu-title {
    padding-bottom: 10px;
}

.title {
    margin-bottom: 3%;
}

.dot {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: darkslategray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;
    line-height: 35px;
    text-align: center;
    color: white;
    font-size: 13px;
}

.name {
    line-height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.menu-btn {
    background-color: transparent;
    border: none;
    overflow: hidden;
}

.menu-btn:hover {
    color: gray;
    transition: .1s ease-out;
    transition-delay: 0.05s;
}

button,
button:active,
button:focus {
    outline: none;
}
