.input-field-wrapper {
    width: 100%;
}

input {
    margin-left: 6px;
    border: 0;
    border-bottom: 1px solid;
    outline: 0;
}

button {
    background-color: white;
    border: none;
    height: 30px;
}
