html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.menu-wrapper {
    max-height: 100vh;
}

.list-wrapper {
    height: 100vh;
    background: url("https://images.wallpaperscraft.ru/image/doroga_razmetka_derevia_137674_1920x1080.jpg") no-repeat center;
    background-size: cover;
    padding: 2% 5% 2% 5%;
}

.menu-root {
    padding: 2%;
}