.list-title {
    font-size: 45px;
    background-color: rgba(0,0,0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,0.84);

}

.list-title-wrapper:before {
    filter: blur(5px);
}

.list {
    margin-top: 3%;
}

ul {
    padding: 0;
}
